.links__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px; 
    margin-top: 42px;   
}

.link__wrapper{
    /* display: inline-block; */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    width: 80%;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}

.link__wrapper:hover{
    background: #c7cad3;
}

.link__wrapper > a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #101828;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    width: 80%;
    height: 72px;
    margin: 20px 0 114px 0;

}
.icons > img{
    width: 24px;
    height: 24px;
}




@media(max-width:425px){
    .links__section{
        margin-bottom: 32px;
        gap: 20px;
    }

    .link__wrapper{
        height: 68px;
    }

    .link__wrapper > a{
        font-size: 14px;
    }

    .icons{
        margin-bottom: 90px;
    }
}